<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MutualActivity" />
        <activity android:name=".ErrorUrlActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ChromeClientActivity" />
        <activity android:name=".DensityDiffActivity" />
        <activity android:name=".DownloadActivity" />
        <activity android:name=".VedioActivity" />
        <activity android:name=".AppCacheActivity" />
        <activity android:name=".LongPressActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".LocalStorageActivity" />
        <activity android:name=".SessionStorageActivity" />
    </application>

</manifest>